/* 테스트후 삭제 */
@import url(ub-variables.css);
.card{
  background-color: #cff;
  box-sizing: border-box;
  border:var(--border);
  min-height: 300px;
  opacity: 0.5;
}
.dan-section .flex {
  background-color: #f00;
  box-sizing: border-box;
  border: 1px solid #000;
}
/* 공통 */



/* 단배너 CSS */
/* 단배너 공통 */
.dan-section{}

.dan-section .item {
  /* flex:none; */

 
}
.dan-section .item .thumb {}
.dan-section .item .thumb img{}
.dan-section .item .desc {}